.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

/* input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
} */



.map1 {
  width: 100%;
  height: 100%;
  /* Высота карты */
  border-radius: 8px;
  /* Закругленные углы */
  border: solid 1px black;
}

[class*='copyrights-pane'] {
  display: none !important;
}

.ymaps-2-1-79-route-panel__inputs {
  border-radius: 8px;
}

.ymaps-2-1-79-route-panel ymaps-2-1-79-route-panel_no-types